body{
    background-color: rgb(253, 251, 251);
    margin: 0;
    padding: 0 10% 0 10%;
}

h1{
    margin-top: 0px;
    position: fixed;
    background-color: green;
    width: 80%;
    color: white;
    padding: 10px;
}

.menu{
    padding-top: 83px;
    padding-right: 15px;
}

#minha_foto{
    width: 250px;
    border-radius: 50%;
}